.mainDiv {
    flex: 66.5 1 0;
    background-color: var(--main-color);
    height: 106vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.mainMessage {
    width: 260px;
    height: 31px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: var(--text-color);
}

.mainDiv::-webkit-scrollbar {
    width: 5px;
}

.mainDiv::-webkit-scrollbar-track {
    background-color: #232F3D;
}

.mainDiv::-webkit-scrollbar-thumb {
    background-color: #9b9fa4;
    border-radius: 4px;
    height: 90vh;
}