.sideBar {
   display: flex;
   flex-direction: column;
   width: 16.75%;
   position: fixed;
   top: 0;
   background-color: var(--primary-color);
   color: var(--text-color);
   overflow-x: hidden;
   transform: translateX(-100%);
   transition: transform 0.5s ease;
   z-index: 1000;
   height: 100%;
}

.sideBar.open {
   transform: translateX(0);
}

.userProfile {
   display: flex;
   flex-direction: column;
}

.sideBarProfile {
   margin-top: 2vh;
   margin-left: 30px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: palevioletred;
   font-weight: 600;
   font-size: 18px;
   ;
   color: white;
}

.profileName {
   font-size: 1em;
   margin-top: 2vh;
   margin-left: 30px;
}

.profileExtras {
   font-size: 0.9em;
   color: #5288c1;
   margin-left: 30px;
}

hr {
   background-color: #101921;
   height: 1px;
}

.profileNavigation {
   display: flex;
   flex-direction: column;
}

.userProfile2 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-right: 30px
}

.profileNavigation>div>svg {
   height: 25px;
   width: 25px;
   margin-right: 20px;
   margin-left: 30px;
}

.profileNavigation>div {
   display: flex;
   align-items: center;
   height: 5vh;
}

.profileNavigation>div:hover {
   background-color: #242f3d;
}

@media (max-width: 1200px) {
   .sideBar {
      width: 50%;
   }
}